* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.padding_top_20 {
  padding-top: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #b91350
}

h1 {
  text-align: center;;
}

.row {
  display: flex;
}
